.ticket-container {
    background: white;
    border-radius: 20px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.455);
}

/* ----- STYLE DATI GENERALI ----- */

.main-subTitle {
    font-size: 25px;
    font-weight: 700;
    color: red;
}

.main-data {
    font-size: 20px;
}